body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #111010;
  margin: 0;
}

* {
  color: #fffefe;
  box-sizing: border-box;
}

header,
h4 {
  text-align: center;
}

.card.card.card-shadow {
  background-image: linear-gradient(280deg, #5d5d5d70, #2e272764);
  border-radius: 2rem;
}

select,
option,
.card.card-shadow {
  color: #212121;
  font-size: 1.5rem;
}

.dropdown > img {
  height: 80px;
  width: 80px;
  margin: auto;
}

.location {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  padding-top: 1.5rem;
  padding-bottom: 1.1rem;
}

.icon {
  height: 188px;
  width: 188px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.time-of-day {
  margin-bottom: 2rem;
}

.sky-condition {
  margin-top: 2rem;
}

.forecast-weather-card {
  height: 200px;
}

.card-background {
  z-index: -1;
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.day-weather {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  height: 100%;
  text-align: center;
  flex-grow: 1;
}
.night-weather {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  height: 100%;
  text-align: center;
  flex-grow: 1;
}

.night-weather > *,
.day-weather > * {
  color: white;
}

#currentWeather > .night-weather {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: center;
}

#currentWeather,
#forecastWeather1,
#forecastWeather2,
#forecastWeather3,
#forecastWeather4 {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  transition: 100ms backdrop-filter linear;
}
