.icon {
  height: 128px;
  width: 128px;
  background-size: cover;
  background-repeat: no-repeat;
}

.forecast-weather {
    display: flex;
    flex-direction: row;
}

.night-weather, .day-weather {
    flex-grow: 1;
}